@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merriweather:ital@1&family=Montserrat&family=Sacramento&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=The+Nautigal:wght@400;700&display=swap');


/* font-family: 'Cookie', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'The Nautigal', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
	scroll-behavior: smooth;
}
body{
    text-align: center;
}
h1{
    font-family: 'Sacramento', cursive;
}
h2,h3{
    font-family: 'Montserrat', sans-serif;
}



a {
	text-decoration: none;
}

.main_bg {
	background: #4ab19a;
}

.sprit {
	height: 4.8125em;
	width: 4.8125em;
	border: 0.0625em solid #46b29b;
	border-radius: 50%;
	position: relative;
	background-image: url(../img/design-icons-vert@2x.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.sprit2 {
	height: 4.8125em;
	width: 4.8125em;
	border: 0.0625em solid #46b29b;
	border-radius: 50%;
	position: relative;
	background-image: url(../img/dev-icons-vert@2x.png);
	background-repeat: no-repeat;
	background-position: 0em 0em;
	background-size: cover;
}


/* .sprit:hover {
    background-position: 0 -62px;
    transition: 0.5s;
} */

.container {
	max-width: 60.625em;
	margin: auto;
	position: relative;
}

img {
	max-width: 100%;
}


/******** head */

header {
	background: #e0ebe8;
}


/******************* nav */

header .container nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.75em 0.3125em;
	flex-flow: wrap;
}

header .container nav .logo {
    display: flex;
    align-items: center;
}

header .container nav .logo a {}
header .container nav .logo h1 {
    font-weight: 800;
    margin-left: 15px;
    color: #46b29b;
    font-size: 28px;
}

header .container nav .logo a img {
	width: 4.5em;
	border-radius: 50%;
}

header .container nav .menu {}

header .container nav .menu ul {
	display: flex;
	flex-flow: wrap;
	list-style: none;
}

header .container nav .menu ul li {}

header .container nav .menu ul li a {
	text-decoration: none;
	color: #46b29b;
	margin-left: 2rem;
	font-size: 150%;
	position: relative;
}

header .container nav .menu ul li a::after {
	content: " ";
	width: 0%;
	height: 0.125em;
	background: #eca042;
	position: absolute;
	bottom: 0;
	left: -5%;
}


/********hover********/

header .container nav .menu ul li a:hover {
	color: #197561;
	transition: 0.5s;
}

header .container nav .menu ul li a:hover::after {
	width: 110%;
	transition: 0.5s;
}


/****************** banner************* */

header .container .banner {
	background-image: url(../img/land.svg), url(../img/cloud.svg), url(../img/cloud.svg);
	background-repeat: no-repeat;
	background-position: bottom center, left center, right top;
	color: #4ab19a;
}

header .container .banner .banner_text {
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.1em 0em 18.75em;
}

header .container .banner .banner_text h1 {
	font-size: 9.375em;
	font-weight: 400;
}

header:hover:hover h1 {
	transform: scale(1.5);
	transition: 0.7s;
}

header .container .banner .banner_text p {
	font-size: 272%;
	padding: -0.3em 0;
	font-family: 'Cookie', cursive;
}


/* ***************about-section ***************/

.about-wraper {}

.about-wraper .container {
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	align-items: center;
	padding: 6.25em 0em;
}

.about-wraper .container img {
	border-radius: 50%;
}

.about-wraper .container h2 {
	color: #f2d965;
	font-size: 3.75em;
	padding: 1.875em 0em;
}

section:hover h2 {
	transform: scale(1.5);
	transition: 0.7s;
	color: #edffc1;
}

.about-wraper .container p {
	max-width: 28.75em;
	font-size: 1.5em;
	color: #f2fff0;
	text-align: center;
	font-weight: 300;
	word-spacing: 0.5625em;
	letter-spacing: 0.125em;
}


/***********work*************/

.work {}

.work .container {}

.work .container .design {
	display: flex;
	justify-content: space-between;
	padding: 2.5em 0em;
}

.work .container .design .img {
	display: flex;
	flex-basis: 40%;
	justify-content: space-between;
	align-items: center;
}

.work .container .design .img img {
	max-width: 9.375em;
}

.work .container .design .img .dot {
	max-width: 100%;
	border-style: none;
	border-bottom: dotted rgba(255, 75, 129, 0.425);
	border-width: 100%;
}

.work .container .design .img div {}

.work .container .design .text {
	display: flex;
	flex-flow: column wrap;
	flex-basis: 60%;
	padding: 0em 2.0625em 0em 0.9375em;
	justify-content: center;
}

.work .container .design .text h4 {
	font-size: 2em;
	font-weight: 500;
	color: #44a591;
}

.work .container .design .text p {
	font-size: 1.5em;
	color: #eca042;
}

.work {
	padding: 6.25em 0em;
	background: #e0ebe8;
}

.work .container h2 {
	color: #46b29b;
	font-size: 3.8em;
	font-weight: 400;
}

.work .container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.work .container .devlop {
	flex-flow: row-reverse;
}

.work .container .devlop .img {
	flex-flow: row-reverse;
}

.work .container .devlop .img img {}

.work .container .devlop .img div {}

.work .container .devlop .text {}

.work .container .devlop .text h4 {}

.work .container .devlop .text p {}


/*********contact*************/

.contact {
	padding: 3.125em 0em;
}

.contact .container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding: 3.125em 0em;
}

.contact .container h2 {
	color: #1e836c;
	font-size: 3.8em;
	font-weight: 400;
	padding: 0.625em 0em;
}

.contact .container h3 {
	color: #4ab19a;
	font-size: 2em;
	font-weight: 500;
	background: #fff;
	margin: 3.125em 0em;
}

.contact .container p {
	font-size: 1.5em;
	color: #edffc1;
	text-align: center;
	font-weight: 300;
	word-spacing: 0.5625em;
	letter-spacing: 0.125em;
}

.contact .container .btn {}

.btn a,
button {
	font-size: 1em;
	color: #edffc1;
	background: #936125;
	padding: 0.9375em 1.25em;
	margin: 3.125em 0em;
	display: inline-block;
	border-radius: 0.3125em;
}

.contact .container .btn a:hover {
	transform: scale(1.4);
	background: #eca042;
	transition: 0.5s;
}

.contact .container .btn a .fa-envelope {
	padding-right: 0.375em;
}


/****************** hireme */

.fotter {
	padding: 3.125em;
	background: #e0ebe8;
}

.fotter .container {}

.social ul {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.social ul li {}

.social ul li a {
	display: inline-block;
	position: relative;
	color: #ffffff;
	background: #4ab19a;
	height: 5em;
	width: 5em;
	line-height: 5em;
	font-size: 1.2em;
	border-radius: 50%;
	margin: 0.625em 1.875em;
	transition: 0.5s;
	text-shadow: 0.4375em 0.4375em 0.5625em black;
	z-index: 1;
}

.social ul li a::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #f1c40f;
	transform: scale(0);
	transition: 0.5s;
	z-index: -1;
}


/***hover---social---*/

.social ul li a:hover::before {
	transform: scale(1);
}

.social ul li a:hover {
	transform: scale(.8) rotate(360deg);
	color: #4ab19a;
}


/*********form_map**************/

.fotter .form {
	display: flex;
	flex-flow: wrap;
	margin-top: 3.125em;
	justify-content: space-evenly;
}

.fotter .form .map {
	flex-basis: 50%;
	padding: 0.625em 1.25em;
}

.fotter .form iframe {}

.fotter .form form {
	display: flex;
	flex-basis: 40%;
	flex-flow: column;
	padding: 0.625em 1.25em;
}

.fotter .form form input {
	border-radius: 0.625em;
	padding: 0.625em;
	margin: 0.625em;
	border: 0.0625em solid #4ab19a;
	outline-color: #eca042;
}

.fotter .form form textarea {
	border-radius: 0.625em;
	padding: 0.625em;
	margin: 0.625em;
	border: 0.0625em solid #4ab19a;
	outline-color: #eca042;
}

.fotter .form .btn {
	/* align-self:center; */
}

.fotter .form .btn button {
	margin: 0.625em;
	background: #4ab19a;
	font-size: 1.2em;
	border: 0.0625em solid #4ab19a;
	cursor: pointer;
}

.fotter .form .btn button:hover {
	transform: scaleX(1.5);
	transform-origin: left center;
	transition: 0.6s;
	background: chocolate;
}


/*****************footer********************/

.footer {
	background: #4ab19a;
	display: flex;
	justify-content: center;
	padding: 3.125em;
}

.footer .container {}

.footer .container p {
	font-size: 1.4em;
	font-weight: 500;
	color: #ddd;
}

.footer .container p a {
	color: #f3ce37;
}
